$topnav-background-color: #222;
.header{
    .dropdownmenu {
        a {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #999;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a:hover {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
        a.current {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
    }
}
