
<div *ngIf="inbox" style="margin: 20px 40px !important;">
    <h2><span>Входящая заявка</span> {{inbox.inboxid}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>Дата заявки</span></dt>
        <dd>
            <span>{{inbox.documentdate | date: 'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span>От кого</span></dt>
        <dd>
            <span>{{inbox.fromwhoom}}</span>
        </dd>
        <dt *ngIf="inbox.executorfullname"><span>Исполнитель</span></dt>
        <dd>
            <span>{{inbox.executorfullname}}</span>
        </dd>
        <dt><span>Дата исполнения</span></dt>
        <dd>
            <span>{{inbox.executerdate | date: 'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span>Тип</span></dt>
        <dd>
            <span>{{inbox.inboxtypeByDocumenttype?.runame}}</span>
        </dd>
        <dt *ngIf="inbox.documentcontentnote"><span>Краткое содержание</span></dt>
        <dd>
            <span>{{inbox.documentcontentnote}}</span>
        </dd>
        <dt *ngIf="inbox.note"><span>Заметки</span></dt>
        <dd>
            <span>{{inbox.note}}</span>
        </dd>
        <dt *ngIf="attachments" ><span>Прикрепления</span></dt>
        <dd>
            <div *ngFor="let attachment of attachments">
                <a [href]="attachment.fileUrl" [download]="attachment.filename">{{attachment.filename}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" class="btn btn-info" (click)="previousState()">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Назад</span>
    </button>
    <!--<button type="button"-->
            <!--[routerLink]="['/archive', { outlets: { popup: 'inbox/'+ inbox.inboxid + '/edit'} }]"-->
            <!--replaceUrl="true"-->
            <!--class="btn btn-primary">-->
        <!--<span class="fa fa-pencil"></span>&nbsp;<span> Изменить</span>-->
    <!--</button>-->
</div>
