
<div *ngIf="peoplerequest" style="margin: 20px 40px !important;">
    <h2><span>Входящая заявка</span> {{peoplerequest.peoplerequestid}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>Номер</span></dt>
        <dd>
            <span>{{peoplerequest.documentnumber}}</span>
        </dd>
        <dt><span>Кому</span></dt>
        <dd>
            <span>{{peoplerequest.forwhoom}}</span>
        </dd>
        <dt><span>Исполнитель</span></dt>
        <dd>
            <span>{{peoplerequest.executorfullname}}</span>
        </dd>
        <dt><span>Дата исполнения</span></dt>
        <dd>
            <span>{{peoplerequest.executerdate | date: 'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span>Адрес</span></dt>
        <dd>
            <span>{{peoplerequest.address}}</span>
        </dd>
        <dt *ngIf="peoplerequest.pagecount"><span>Количество страниц</span></dt>
        <dd>
            <span>{{peoplerequest.pagecount}}</span>
        </dd>
        <dt *ngIf="peoplerequest.documentcontentnote"><span>Краткое содержание</span></dt>
        <dd>
            <span>{{peoplerequest.documentcontentnote}}</span>
        </dd>
        <dt *ngIf="peoplerequest.note"><span>Заметки</span></dt>
        <dd>
            <span>{{peoplerequest.note}}</span>
        </dd>
        <dt *ngIf="attachments" ><span>Прикрепления</span></dt>
        <dd>
            <div *ngFor="let attachment of attachments">
                <a [href]="attachment.fileUrl" [download]="attachment.filename">{{attachment.filename}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" class="btn btn-info" (click)="previousState()">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Назад</span>
    </button>
    <!--<button type="button"-->
            <!--[routerLink]="['/archive', { outlets: { popup: 'peoplerequest/'+ peoplerequest.peoplerequestid + '/edit'} }]"-->
            <!--replaceUrl="true"-->
            <!--class="btn btn-primary">-->
        <!--<span class="fa fa-pencil"></span>&nbsp;<span> Изменить</span>-->
    <!--</button>-->
</div>
