
<div *ngIf="outbox" style="margin: 20px 40px !important;">
    <h2><span>Исходящая заявка</span> {{outbox.outboxid}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>Дата заявки</span></dt>
        <dd>
            <span>{{outbox.documentdate | date: 'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span>Кому</span></dt>
        <dd>
            <span>{{outbox.forwhom}}</span>
        </dd>
        <dt><span>Номер входящей заявки</span></dt>
        <dd>
            <span>{{outbox.inboxnumber}}</span>
        </dd>
        <dt *ngIf="outbox.docownerfullname"><span>Отправитель</span></dt>
        <dd>
            <span>{{outbox.docownerfullname}}</span>
        </dd>
        <dt><span>Тип</span></dt>
        <dd>
            <span>{{outbox.outboxtypeByDocumenttype?.runame}}</span>
        </dd>
        <dt *ngIf="outbox.pagecount"><span>Количество страниц</span></dt>
        <dd>
            <span>{{outbox.pagecount}}</span>
        </dd>
        <dt *ngIf="outbox.documentcontentnote"><span>Краткое содержание</span></dt>
        <dd>
            <span>{{outbox.documentcontentnote}}</span>
        </dd>
        <dt *ngIf="attachments" ><span>Прикрепления</span></dt>
        <dd>
            <div *ngFor="let attachment of attachments">
                <a [href]="attachment.fileUrl" [download]="attachment.filename">{{attachment.filename}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" class="btn btn-info" (click)="previousState()">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Назад</span>
    </button>
    <!--<button type="button"-->
            <!--[routerLink]="['/archive', { outlets: { popup: 'outbox/'+ outbox.outboxid + '/edit'} }]"-->
            <!--replaceUrl="true"-->
            <!--class="btn btn-primary">-->
        <!--<span class="fa fa-pencil"></span>&nbsp;<span> Изменить</span>-->
    <!--</button>-->
</div>
