
<div *ngIf="request" style="margin: 20px 40px !important;">
    <h2><span>Входящая заявка</span> {{request.id}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>Идентификатор</span></dt>
        <dd>
            <span>{{request.studentid}}</span>
        </dd>
        <dt><span>Дата заявления</span></dt>
        <dd>
            <span>{{request.appdate | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
        </dd>
        <dt><span>ФИО студента</span></dt>
        <dd>
            <span>{{request.studentsurname}} {{request.studentname}} {{request.studentlastname}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{request.studentemail}}</span>
        </dd>
        <dt><span>Номер телефона</span></dt>
        <dd>
            <span>{{request.studentphone}}</span>
        </dd>
        <dt><span>Специальность</span></dt>
        <dd>
            <span>{{request.studentspecialitycode}} - {{request.studentspeciality}}</span>
        </dd>
        <dt><span>Язык обучения</span></dt>
        <dd>
            <span>{{request.studentlang}}</span>
        </dd>
        <dt><span>Курс обучения</span></dt>
        <dd>
            <span>{{request.studentcourse}}</span>
        </dd>
        <dt><span>Форма обучения</span></dt>
        <dd>
            <span>{{request.studentform}}</span>
        </dd>
        <dt *ngIf="request.bonAppchildtypestr"><span>Тип заявления</span></dt>
        <dd>
            <span>{{request.bonAppchildtypestr}}</span>
        </dd>
        <dt><span>Текст заявления</span></dt>
        <dd>
            <span>{{request.requesttext}}</span>
        </dd>
        <dt><span>Комментарий</span></dt>
        <dd>
            <span>{{request.systemcomment}}</span>
        </dd>
        <dt *ngIf="request.rectorvisetext"><span>Комментарий</span></dt>
        <dd>
            <span>{{request.rectorvisetext}}</span>
        </dd>
        <dt *ngIf="attachments" ><span>Прикрепления</span></dt>
        <dd>
            <div *ngFor="let attachment of attachments">
                <a [href]="attachment.fileUrl" [download]="attachment.filename">{{attachment.filename}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" class="btn btn-info" (click)="previousState()">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Назад</span>
    </button>
    <!--<button type="button"-->
            <!--[routerLink]="['/archive', { outlets: { popup: 'request/'+ request.id + '/edit'} }]"-->
            <!--replaceUrl="true"-->
            <!--class="btn btn-primary">-->
        <!--<span class="fa fa-pencil"></span>&nbsp;<span> Изменить</span>-->
    <!--</button>-->
</div>
