
<div *ngIf="blank" style="margin: 20px 40px !important;">
    <h2><span>Бланк</span> {{blank.blankid}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>Изготовитель</span></dt>
        <dd>
            <span>{{blank.manufacturer}}</span>
        </dd>
        <dt><span>Экземпляр</span></dt>
        <dd> </dd>
    </dl>

    <button type="submit" class="btn btn-info" (click)="previousState()">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Назад</span>
    </button>
    <!--<button type="button"-->
    <!--[routerLink]="['/archive', { outlets: { popup: 'blank/'+ blank.blankid + '/edit'} }]"-->
    <!--replaceUrl="true"-->
    <!--class="btn btn-primary">-->
    <!--<span class="fa fa-pencil"></span>&nbsp;<span> Изменить</span>-->
    <!--</button>-->
</div>
